<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">-->

        <title>Chat room</title>

        <style>

            a.navbar-brand {
                font-family: 'Pacifico', cursive;
           }

        </style>


    </head>
    <body class="bg-light">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('index') }}"> designed by Aman & Anuj </a>
                    {% block anchor %}

                    {% endblock %}
            </ul>

        </nav>
        <div class="container container-fluid">
            {% block body %}
            {% endblock %}
        </div>



    </body>
</html>
